<section class="list-container">
  <h1>Users</h1>
  <div class="user-card">
    <img src="" alt="user-profile" />
    <div class="card-info">
      <h2>User Name</h2>
      <p>Number of posts: x</p>
    </div>
  </div>
  <div class="user-card">
    <img src="" alt="user-profile" />
    <div class="card-info">
      <h2>User Name</h2>
      <p>Number of posts: x</p>
    </div>
  </div>
  <div class="user-card">
    <img src="" alt="user-profile" />
    <div class="card-info">
      <h2>User Name</h2>
      <p>Number of posts: x</p>
    </div>
  </div>
</section>
