<section class="list-container">
  <h1>Users</h1>
  <div>
    <a href="/users/21/posts/new"> Create Post </a>
  </div>
  <% @users.each do |user| %>
    <%= link_to user_path(user) do %>
      <%= render 'user_card', user: user %>
    <% end %>
  <% end %>
</section>

