<section class="user-profile">
  <div class="user-card">
    <img src="" alt="user-profile" />
    <div class="card-info">
      <h2>User Name</h2>
      <p>Number of posts: x</p>
    </div>
  </div>
  <div class="user-posts-container">
    <div class="user-post">
      <div class="post-card">
        <h3>Post #3</h3>
        <p>
          <%= "Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Voluptatibus dolorum accusamus expedita adipisci fugiat facere dolore?
          Unde error esse nemo tenetur iure laboriosam voluptatem temporibus
          eos, iusto doloremque ratione. Accusantium reiciendis excepturi
          at".slice(0, 200)... %>
        </p>
        <h4>Comments: X, Likes: Y</h4>
      </div>
      <div class="comments-container">
        <p>Username: comment 1</p>
        <p>Username: comment 1</p>
        <p>Username: comment 1</p>
        <p>Username: comment 1</p>
      </div>
    </div>
    <div class="user-post">
      <div class="post-card">
        <h3>Post #3</h3>
        <p>
          <%= "Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Voluptatibus dolorum accusamus expedita adipisci fugiat facere dolore?
          Unde error esse nemo tenetur iure laboriosam voluptatem temporibus
          eos, iusto doloremque ratione. Accusantium reiciendis excepturi
          at".slice(0, 200)... %>
        </p>
        <h4>Comments: X, Likes: Y</h4>
      </div>
      <div class="comments-container">
        <p>Username: comment 1</p>
        <p>Username: comment 1</p>
        <p>Username: comment 1</p>
        <p>Username: comment 1</p>
      </div>
    </div>
    <div class="user-post">
      <div class="post-card">
        <h3>Post #3</h3>
        <p>
          <%= "Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Voluptatibus dolorum accusamus expedita adipisci fugiat facere dolore?
          Unde error esse nemo tenetur iure laboriosam voluptatem temporibus
          eos, iusto doloremque ratione. Accusantium reiciendis excepturi
          at".slice(0, 200)... %>
        </p>
        <h4>Comments: X, Likes: Y</h4>
      </div>
      <div class="comments-container">
        <p>Username: comment 1</p>
        <p>Username: comment 1</p>
        <p>Username: comment 1</p>
        <p>Username: comment 1</p>
      </div>
    </div>
    <div class="user-post">
      <div class="post-card">
        <h3>Post #3</h3>
        <p>
          <%= "Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Voluptatibus dolorum accusamus expedita adipisci fugiat facere dolore?
          Unde error esse nemo tenetur iure laboriosam voluptatem temporibus
          eos, iusto doloremque ratione. Accusantium reiciendis excepturi
          at".slice(0, 200)... %>
        </p>
        <h4>Comments: X, Likes: Y</h4>
      </div>
      <div class="comments-container">
        <p>Username: comment 1</p>
        <p>Username: comment 1</p>
        <p>Username: comment 1</p>
        <p>Username: comment 1</p>
      </div>
    </div>
    <button class="pagination">Pagination Placeholder</button>
  </div>
</section>
