:root {
  --primary: #c6dce4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding-block: 2rem;
  padding-inline: min(9rem, 5vw) min(11rem, 7vw);
  background-color: #daeaf1;
}

/* Users-List style */

.list-container,
.user-profile {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.user-card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0.7rem;
  background-color: var(--primary);
  gap: 1rem;
}

.card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-info > p {
  align-self: flex-end;
}

/* Profile style */

.profile-bio {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  background-color: var(--primary);
  gap: 1rem;
}

.post-card-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post-card {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  background-color: var(--primary);
}

.post-card > h3 {
  margin-bottom: 1rem;
}

.post-card > p {
  margin-bottom: 0.2rem;
}

.post-card > h4 {
  font-weight: 300;
  align-self: flex-end;
}
