:root {
  --primary: #c6dce4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding-block: 2rem;
  padding-inline: min(9rem, 5vw) min(11rem, 7vw);
  background-color: #daeaf1;
}

/* Users-List style */

.list-container,
.user-profile {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.list-container a {
  text-decoration: none;
  color: #0a0a0a;
  cursor: pointer;
}

.user-card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0.7rem;
  background-color: var(--primary);
  gap: 1rem;
}

.card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-info > p {
  align-self: flex-end;
}

/* Profile style */

.profile-bio {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  background-color: var(--primary);
  gap: 1rem;
}

.post-card-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post-card {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  background-color: var(--primary);
  border-radius: 10px;
}

.post-card > h3 {
  margin-bottom: 1rem;
}

.post-card > p {
  margin-bottom: 0.2rem;
}

.post-card > h4 {
  font-weight: 300;
  align-self: flex-end;
}

.user-profile > a {
  align-self: center;
}

.see-all-btn {
  padding: 0.2rem 0.3rem;
  border-radius: 5px;
  border: none;
}

/* User posts style */

.user-posts-container {
  display: grid;
  gap: 1rem;
}

.user-post {
  display: grid;
  gap: 0.2rem;
  align-items: flex-start;
}

.comments-container {
  background-color: var(--primary);
  padding: 0.3rem 1rem;
  border-radius: 8px;
}

.pagination {
  margin-top: 1rem;
  justify-self: center;
}

/* single Post style */

.relative {
  position: relative;
}

.relative h5 {
  position: absolute;
  top: 4%;
  right: 2%;
}
